food-app-backend/.vscode/settings.json
food-app-backend/__pycache__/app.cpython-38.pyc
food-app-backend/venv/pyvenv.cfg
food-app-backend/venv/bin/activate
food-app-backend/venv/bin/activate.csh
food-app-backend/venv/bin/activate.fish
food-app-backend/venv/bin/Activate.ps1
food-app-backend/venv/bin/easy_install
food-app-backend/venv/bin/easy_install-3.8
food-app-backend/venv/bin/flask
food-app-backend/venv/bin/pip
food-app-backend/venv/bin/pip3
food-app-backend/venv/bin/pip3.8
food-app-backend/venv/bin/pybolt
food-app-backend/venv/bin/python
food-app-backend/venv/bin/python3
food-app-backend/venv/lib/python3.8/site-packages/*

