.tabContainer {
  display: flex;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 60px;
  font-size: 16px;
  background-color: #227980;
  color: #ffffff;
  cursor: pointer;
}

.active {
  background-color: #35bbc4;
  font-weight: 500;
}
