.button {
  padding: 8px 12px;
  background-color: #2c4c5c;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: none;
  border: 0;
  outline: none;
}

.button:active {
  outline: none;
  transform: scale(1.1);
}
