.container {
  display: flex;
  align-items: flex-start;
  padding: 16px 12px;
}
.itemName {
  color: #2c4c5c;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
}
.itemPrice {
  color: #2c4c5c;
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
}
