.backBtn {
  padding: 8px 16px;
  width: 100px;
  cursor: pointer;
  color: #35bbc4;
}

.container {
  padding: 0px 8px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
